<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 扫描 com.binf.admin 包及子包下的 @Service @Controller @Repository @Component
        注解 -->
    <context:component-scan base-package="com.bluemobi.decor.portal.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/static/**" location="/static/"/>

    <mvc:resources mapping="/ueditor1_4_3/**" location="/ueditor1_4_3/"/>

    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截所有后台请求-->
            <!--
            <mvc:mapping path="/"/>
            -->
            <mvc:mapping path="/backend/**"/>
            <mvc:mapping path="/backend/login/check"/>
            <!--不拦截工具Controller-->
            <mvc:exclude-mapping path="/backend/utils/**"/>
            <!--不拦截登录相关操作-->
            <mvc:exclude-mapping path="/backend/login/**"/>
            <!--不拦截退出登录相关操作-->
            <mvc:exclude-mapping path="/backend/logout/**"/>
            <!--当然不拦截首页了啊
            <mvc:exclude-mapping path="/backend/home/**"/>-->
            <bean class="com.bluemobi.decor.common.interceptor.CommonInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/pc/goods/ajaxGoodsCommentfff/**"/>
            <bean class="com.bluemobi.decor.common.interceptor.PcLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="conf.message-info"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>
    <bean id="myViewController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>
    <bean id="filenameController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

    <bean id="defaultUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="interceptors" ref="localeChangeInterceptor"/>
        <property name="order">
            <value>1</value>
        </property>
    </bean>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors" ref="localeChangeInterceptor"/>
        <property name="mappings">
            <value>
                chinese=filenameController
                us=filenameController
            </value>
        </property>
    </bean>

    <bean id="defaultHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    <bean id="localeResolver" class="com.bluemobi.decor.common.interceptor.MyAcceptHeaderLocaleResolver"/>
    <!--end 国际化-->
    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过500M。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="510000000"/>
    </bean>

    <!-- 总错误处理 -->
    <bean id="exceptionResolver" class="com.bluemobi.decor.portal.exception.CustomSimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">error/error</prop>
            </props>
        </property>
    </bean>


    <bean id="beanUtil" class="com.bluemobi.decor.portal.util.BeanUtil"/>

</beans>