@charset "utf-8";
/* CSS Document */
body {
    font-family: "微软雅黑", Arial, Verdana;
    font-size: 14px;
    background: #efefef;
}

body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, p, span {
    -webkit-text-size-adjust: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

applet, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, html, iframe, img, object, p, span {
    padding: 0;
    margin: 0;
    border: none
}

img {
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: none
}

li, ul {
    list-style: none outside none;
    padding: 0;
    margin: 0
}

input, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 14px;
    font-family: "microsoft yahei", Arial, Verdana;
}

input[type=button], button {
    border: none;
    cursor: pointer;
    font-family: "microsoft yahei", Arial, Verdana;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.vt {
    vertical-align: top;
}

.vm {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

.clear {
    clear: both;
    height: 0;
    width: 100%
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* + html .clearfix {
    zoom: 1;
}

.ellips {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.mb100 {
    margin-bottom: 100px;
}
.ml10{
    margin-left: 10px;
}

.pt20 {
    padding-top: 20px;
}
.pb5{
    padding-bottom: 5px;
}
.pb10{
    padding-bottom: 10px;
}
.pb20{
    padding-bottom: 20px;
}

.pb60 {
    padding-bottom: 60px;
}
.borderbtm{ 
    border-bottom:0 !important;
}
.pd20{ 
    padding-left:20px !important;
}
.pl5{
    padding-left: 5px;
}

.wrapper {
    background: #f0f0f0;
    position: relative;
}

/*页面头部*/
.header {
    background: #17171d;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin: 14px 30px 14px 22px;
}

.menu li {
    float: left;
    width: 110px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.menu li:hover a {
    color: #17171d;
    background: #ededed;
}

.menu li a {
    font-size: 20px;
    color: #fff;
    display: block;
}

.menu li.active a {
    color: #17171d;
    background: #ededed;
}
.menu li.current a{
    color: #17171d;
    background: #ededed;
}

.search_wrap {
    padding-right: 60px;
    position: relative;
    height: 30px;
}

.search {
    border: 1px solid #ccc;
    height: 28px;
    background: #fff;
    padding-right: 80px;
    padding-left: 10px;
    width: 118px;
}

.iicon {
    background: url(../images/iicon_bg.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.search-icon {
    width: 16px;
    height: 16px;
    background-position: -8px -4px;
    cursor: pointer;
    left: 6px;
    top: 6px;
}

.search input {
    width: 100%;
    line-height: 28px;
    height: 28px;
}

.search_btn {
    width: 60px;
    height: 30px;
    background: #96969a;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}

.select_wrap {
    width: 80px;
    right: 0;
    top: 0;
    height: 28px;
}

.search-select {
    width: 16px;
    height: 16px;
    background-position: -7px -26px;
    cursor: pointer;
    right: 3px;
    top: 6px;
}

.select-text {
    width: 60px;
    height: 28px;
    line-height: 28px;
    color: #999;
    text-align: center;
    display: inline-block;
}

.select_input select {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 28px;
    color: #999999;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity:0);
    text-align: center;
}

.header_r {
    padding-right: 22px;
    padding-top: 14px;
}

.header_r a {
    display: inline-block;
    color: #fff;
    margin-left: 30px;
    line-height: 30px;
}

/*banner*/
.ck-slide {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.ck-slide ul.ck-slide-wrapper {
    width: 100%;
    margin: 0;
    padding: 0
}

.ck-slide ul.ck-slide-wrapper li {
    width: 100%;
    position: absolute;
    text-align: center;
    display: none
}

.ck-slide ul.ck-slide-wrapper li img {
    width: 100%;
    height: 400px;
}

.ck-slide ul.ck-slide-wrapper li:first-child {
    position: relative;
    display: block
}

.ck-slide ul.ck-slide-wrapper li img {
    width: 100%
}

.ck-slide .ck-prev, .ck-slide .ck-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    opacity: 0;
    text-indent: -9999px;
    transition: opacity .2s linear 0s;
}

.ck-slide .ck-prev {
    left: 100px;
    background-position: -524px -5px;
}

.ck-slide .ck-next {
    right: 100px;
    background-position: -525px -96px;
}

/*页面底部*/
.footer {
    background: #d6d7d9;
    padding: 40px 0 60px 0;
}

.foot_item li.first {
    padding: 40px 50px 30px 22px;
}

.foot_item li.first img {
    padding-bottom: 20px;
}

.foot_item li.first p {
    padding: 0;
}

.foot_item li {
    float: left;
    padding-left: 30px;
    padding-right: 40px;
}

.foot_item li h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.foot_item li p {
    padding: 10px 0;
}

.foot_item li a {
    margin-right: 20px;
    display: inline-block;
    color: #999;
    font-size: 12px;
}

.foot_item2 {
    float: right;
    padding-right: 160px;
}

.foot_item2 p {
    padding: 10px 0;
}

/*右侧悬浮*/
.push {
    width: 48px;
    height: 116px;
    position: fixed;
    top: 50%;
    margin-top: -58px;
    right: 10px;
    display: none;
}

.push li {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 9px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
}

.push li:first-child {
    margin: 0;
}

.getTop i {
    background-position: -137px -3px;
    width: 28px;
    height: 14px;
    top: 4px;
}

/* 弹框样式 */
.popup-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.none {
    display: none;
}

.popup-cover {
    background: #000;
    opacity: .8;
    filter: alpha(opacity=60);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1009;
}

.popup-case {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    z-index: 1099;
}

.popup-case .popup-cent {
    max-height: 460px;
}
.popup-title{ 
    height:60px; 
	line-height:60px; 
	font-size:16px;
	position:relative;
	text-align:center;
	border-bottom:1px dashed #ccc;
}
.view{ padding:20px 60px;}
.view textarea{ width:100%; height:328px; border:1px solid #ccc;}
.blackBtn{
    background: #17171d;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 8px 10px;
}
.aBtn button{ 
    width:260px; 
	height:36px; 
	background:#17171d; 
	color:#fff;
}
.close{ 
    background-position: -281px -98px;
	cursor:pointer;
	width:16px;
	height:16px;
	top:10px;
	right:10px;
	position:absolute;
}
.btn{
    border: none;
    outline: none;
}
.color3{
    color: #333333;
}
.color6{
    color: #666666;
}
.color9{
    color: #999999;
}
.colorc{
    color: #cccccc;
}
.colorRed{
    color: #fd3030;
}
.colorBlack{
    color: #17171d;
}
.colorOrange{
    color: #ffaa3d;
}
.pl5{
    padding-left: 5px;
}
.pr5{
    padding-right: 5px;
}
.pl10{
    padding-left: 10px;
}
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.fs12{
    font-size: 12px;
}
.fs16{
    font-size: 16px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mr20{
    margin-right: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml20{
    margin-left: 20px;
}
.pl20{
    padding-left: 20px;
}
.pl25{
    padding-left: 25px;
}
.pr10{
    padding-right: 10px;
}
.pr20{
    padding-right: 20px;
}
.bold{
    font-weight: bold;
}
.block{
    display: block;
}
.inline-b{
    display: inline-block;
}
.w150{
    width: 150px;
}
/*分页*/
.pagination {
    display: block;
    margin: 0;
    padding: 50px 0;
    text-align: right;
}
.pagination span, .pagination a {
    background: #e5e5e5;
    border-radius: 1px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    height:30px;
    line-height:30px;
    margin: 0 2px;
    padding: 0 14px;
    vertical-align: middle;
}
.pagination a.first{
	background:none;
	background:url(../images/iicon_bg.png) -302px 3px no-repeat;
}
.pagination a.last{
	background:none;
	background:url(../images/iicon_bg.png) -302px -25px no-repeat #e5e5e5;
}
.pagination a.current{
	background:#17171d;
	color:#fff;
}
.pagination span.p_text {
    background:#e5e5e5;
    border: medium none;
    padding: 0 2px;
	font-size:16px;
	background:none;
}
.pagination span.dots{
	padding:0 10px;
	backgrond:#e5e5e5;
}
.pagination .gotopage {
    border: 1px solid #dbdbdb;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 0 5px;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.pagination input[type="button"] {
    background: #17171d;
    border: 1px solid #dbdbdb;
    color: #fff;
    font-size: 12px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    width: 50px;
}
